.el-table__body-wrapper
  font-size 18px
.el-table thead
  font-size 20px
.el-dialog
  margin-top 0 !important

.el-button--primary
  background-color #40495a
  border-color #40495a
.el-dialog
  margin 0 auto
.el-dialog__headerbtn .el-dialog__close
  font-size 40px
