.content_info
  .el-select .el-input
    width 384px
  .pullDown .el-select .el-input
    width 120px
.contentPay .el-select .el-input, .contentPay .el-input-group
  width 320px
.contentDelit .el-select .el-input
  width 100px
.payWrap .el-input
  width 330px
.contentShop li .el-input
  width 240px
.wrapBg .el-input, .bank .el-select .el-input, .bank .el-input
  width 400px
.infoMsg .el-textarea, .infoMsg .el-textarea__inner
  width 320px
  display inline
  margin-left 2px
.wrap .personBank .el-tabs__item:hover, .pushAdmin .el-tabs__item:hover, .coinApply .el-tabs__item:hover
  color #FF2933
.buttn
  border none
  outline none
  background #FF2933
  border-radius 4px
  color #ffffff
  font-size 14px
  line-height 36px
  height 36px
  width 88px
  text-align center
  padding-left 14px
  padding-right 14px
  cursor pointer
  margin-left 12px
  margin-right 12px
.buttn_small
  width 102px
  height 24px
  line-height 24px
.order .el-input
  width 240px
.order .orderLeft .el-select, .order .orderLeft .el-input
  width 100px
.order .orderLeft .el-input-group__append button.el-button, .selectTwo .el-input-group__append div.el-select .el-input__inner, .selectTwo .el-input-group__append div.el-select:hover .el-input__inner, .selectTwo .el-input-group__prepend button.el-button, .selectTwo .el-input-group__prepend div.el-select .el-input__inner, .selectTwo .el-input-group__prepend div.el-select:hover .el-input__inner
  width 100px
.order .orderLeft .el-input-group>.el-input__inner
  width 200px
.el-table__empty-text
  display none
.contentShop .el-range-editor.el-input__inner
  width 242px
.contentPay .el-input
  width 320px
.btnBlack
  border 1px solid #CCCCCC
  outline none
  background #ffffff
  border-radius 4px
  color #000000
  font-size 14px
  line-height 36px
  height 36px
  width 88px
  text-align center
  padding-left 14px
  padding-right 14px
  cursor pointer
  margin-left 12px
  margin-right 12px
.el-date-editor .el-range__close-icon
  display none